<a href="#">
    <div class="place-info-box">
        <span class="place-info-box-icon glyphicon glyphicon-bell"></span>

        <div class="place-info-box-content">
            <span class="place-info-box-text">{{alerta.descricao}}</span>
            <span class="place-info-box-detail">{{alerta.pontoDeVenda}}</span>
            <span class="place-info-box-detail">{{alerta.sobre}}</span>
            <span class="place-info-box-detail">{{alerta.margem}}</span>
        </div>
        <!-- /.info-box-content -->
    </div>
</a>